<head>
    <link href="https://unpkg.com/cloudinary-video-player@1.9.14/dist/cld-video-player.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cloudinary-video-player@1.9.14/dist/cld-video-player.min.js" 
        type="text/javascript"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css" />
</head>


<%- include('./partials/header') %>

<div class="video-containers">
    <% for (var i=0;i<videos.length;i++) {%>
        <div class="video-container">
            <video
            source = <%= videos[i].public_id %>
            class="cld-video-player">
        </video>
        <h3>
            <%= videos[i].title%>
        </h3>
        <p>
            <% for(var j=0;j<videos[i].description.length;j++) {%>
            <% if (videos[i].description[j].location == null) {%>
                Unknown location
            <% } else {%>

            <%= videos[i].description[j].location %>
            <% } %> :
            <%= videos[i].description[j].object_size %> object,  
            <% } %>
        </p>
        <form action="/deletevideo/ <%=videos[i].id%>" method="post">
            <button class="delbtn">
              Delete</button>
          </form>
    </div>
    <% } %>
</div>

<script>
    var players = cloudinary.videoPlayers('.cld-video-player', {
        cloud_name:'dwoyqflfa',

        width:'600px',
        colors: {
            base: "#052b6b",
            accent: "#ffffff",
            text: "#ffffff"
        },
        controls: true,
        showJumpControls: true,
        // posterOptions:{
        //     publicId:'https://res.cloudinary.com/dwoyqflfa/video/upload/v1694522052/movements/olwign3ph1qnfprbpqvt.mp4',

        //     // publicId: 'https://assets.agu.org/image/upload/c_limit,w_642/v1/aguorg-fm21/NOLA%20Depositphotos_117585154_xl-2015_blue.jpg', 
        //     }
    })


</script>
